# Dependencies
node_modules/

# Environment
.env
.env.local

# Build / Cache
.next/
out/
dist/

# Logs
*.log
*.err

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Misc
*.tsbuildinfo
next-env.d.ts
